* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.person {
    width: 40px;
}

.putin {
    width: 20px;
    margin-left: -106px;
    margin-top: 100px;
    animation-name: putin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.pilot {
    width: 200px;
    height: 100px;
    margin-left: -626px;
    margin-top: 100px;
    animation-name: pilot;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes pilot {
    0% {
        transform: translateX(0px);
    }

    20% {
        transform: translateX(426px) translateY(-100px);
    }

    50% {
        transform: translateY(+100px);
    }
}

@keyframes putin {
    0% {
        transform: translateX(0px);
    }

    20% {
        transform: translateX(426px) translateY(-100px);
    }

    50% {
        transform: translateY(+100px);
    }
}