* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pilot {
    width: 200px;
    height: 100px;
    margin-left: -626px;
    margin-top: 105px;
    animation-name: pilot;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes pilot {
    0% {
        transform: translateY(0px);
    }

    20% {
        transform: translateY(160px);
    }
}